{% extends 'home/layouts/base.html' %}
{% block content %}
    <div class="jumbotron container" style="margin-left:20%;margin-top:2%;width:60%">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">Welcome to Game E-Comm</p>
            <hr class="my-4">
            <p>The 'virtual' shop where you can buy and rent ps4 game disks at affordable prices</p>
            <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button" style='margin-left: 40%;margin-top:5%'>Start Shopping</a>
    </div>
{% endblock %}