<div class="d-inline">

    <div class="card" style="width: 27%;margin-left:10%;margin-top:2%">
            <img src="{{game.image_url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <div>
                    <h2 style="text-align: center">₹ {{game.price}}</h2>
                </div>    
                <a href="#" class="btn btn-primary" style="margin-left:30%;margin-top:2%" data-toggle="modal">ADD TO CART</a>
            </div>
        </div>
</div>
<div class="d-inline">

    <div class="embed-responsive embed-responsive-16by9" style="width:50%">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{game.trailer_id}}" width></iframe>
        </div>
</div>